.btn {
  margin-top: 50px;
  margin-left: 390px;
  --color: #4dd4ac;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  border: none;
  background-color: transparent;
}

.btn div {
  letter-spacing: 2px;
  font-weight: bold;
  background: var(--color);
  border-radius: 2rem;
  color: black;
  padding: 1rem;
}

.btn::before {
  content: "";
  z-index: -1;
  background-color: var(--color);
  border: 2px solid black;
  border-radius: 2rem;
  width: 110%;
  height: 100%;
  position: absolute;
  transform: rotate(10deg);
  transition: 0.5s;
  opacity: 0.2;
}

.btn:hover {
  cursor: pointer;
  filter: brightness(1.2);
  transform: scale(1.1);
}

.btn:hover::before {
  transform: rotate(0deg);
  opacity: 1;
}

.btn svg {
  transform: translateX(-200%);
  transition: 0.5s;
  width: 0;
  opacity: 0;
}

.btn:hover svg {
  width: 25px;
  transform: translateX(0%);
  opacity: 1;
}

.btn:active {
  filter: brightness(1.4);
}
.bg {
  height: 100vh;

  background-image: url("./background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}
.bg::before {
  content: "";
  opacity: 0.5;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #000;
}
.text {
  margin-top: 50px;
  color: #fff;
  text-align: center;
  line-height: 50px;
  position: relative;
}
