.club-info {
  flex: 1;
  max-width: 600px;
  margin: 20px;
  margin-left: 100px;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}

.club-info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  z-index: -1;
  filter: blur(5px);
}

.club-info h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2.5rem;
  color: #333;
}

.club-info p {
  font-size: 1.4rem;
  margin-bottom: 20px;
  color: #555;
}

.club-info {
  font-weight: bold;
  color: #222;
}

.club-members {
  font-weight: bold;
  margin-top: 20px;
  padding: 20px;
  border-top: 1px solid #ccc;
  background-color: #f8f9fa; 
}

.club-members h2 {

  margin-bottom: 20px; 
  color: #333;
}

.club-members ul {
  list-style: none;
  padding: 0;
}

.club-members li {
  font-size: 1.5rem;
  margin-bottom: 10px; 
  color: #555;
}

.club-members li.selected {
  background-color: #ebebeb; 
  color: #000000; 
}

.join-requests {
  margin-top: 20px;
}

.join-requests h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.join-requests ul {
  list-style: none;
  padding: 0;
}

.join-requests li {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #555;
}

