.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content, .main-container {
  width: 100%;
  max-width: 800px;
  padding: 10px;
}

.m-match-container {
  margin-top: 10px;
  border: none;
  box-shadow: none;
  overflow: hidden;
}

@media (min-width: 768px) {
  .main {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }

  .m-match-container {
    margin-top: 0;
    margin-left: 10px;
  }
}