.main {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.content, .main-container {
  flex: 1;
  padding: 10px;
}

.m-match-container {
  margin-left: 10px;
  border: none;
  box-shadow: none;
  overflow: hidden;
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }
  .m-match-container {
    margin-left: 0;
  }
}