.sport-selection-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.sport-radio-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.sport-radio-group > div {
  margin-bottom: 20px; /* 카드들 간의 아래쪽 간격 추가 */
}

.sport-selection-group .MuiRadioGroup-root {
  padding: 2px 4px;
  min-width: 50px;
  font-size: 0.75rem;
  height: 24px;
}

.sport-selection-group .MuiFormControlLabel-root {
  margin: 0;
}

.sport-selection-group .MuiRadio-root {
  display: none;
}

.sport-selection-group .MuiButtonBase-root {
  padding: 10px;
}