.sport-selection-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.sport-radio-container {
  display: flex;
  justify-content: center; /* 두 라디오 그룹을 중앙으로 정렬 */
  width: 100%;
}

.sport-radio-group {
  display: flex;
  justify-content: center; /* 각 라디오 그룹의 내부 요소들을 중앙 정렬 */
  align-content: space-around;
  flex-wrap: wrap;
}

.card-wrapper {
  margin: 10px; /* 카드들 간의 간격 추가 */
}